.wrapper {
    display: flex; 
    justify-content: center; /* Center children horizontally */
    align-items: center; /* Center children vertically */
    position: relative;
    margin-bottom: rem(50px);
    width: 100%; 
}

.dropzone {
    border-width: rem(1px);
    width: 50%; 
    padding-bottom: rem(50px);
}

.control {
    position: absolute;
    width: rem(250px);
    bottom: rem(-50px);
}

.icon {
    color: light-dark(var(--mantine-color-gray-4), var(--mantine-color-dark-3));
}

