.header {
    display: grid;
    @media (min-width: 412px) {
        margin: 2rem 2rem 2rem 2rem;
    }
    @media (min-width: $mantine-breakpoint-sm) {
        gap: 3rem;
        display: flex;
        margin: 3rem 3rem 3rem 3rem;
    }
}

.headerTextContent {
    display: flex;
    flex-direction: column; /* Aligns children vertically */
    justify-content: center; /* Centers children along the main axis, which is now vertical */
    align-items: center; /* Centers children along the cross axis, which is now horizontal */
    width: 100%; 
}


.slideshow {
    @media (min-width: $mantine-breakpoint-sm) {
    width: 80%;
        }
    height: auto; 
    align-content: center;
    @media (max-width: $mantine-breakpoint-xs) {
        margin: 2rem;
    }
}

.hero {
@mixin dark{
    color: #ddd6cb;
}
    font-size: 1.5rem;
    text-align: center;
}

.hero h1 {
    font-size: 2rem;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 0.15rem;
    text-transform: uppercase;
    background: linear-gradient(90deg, #2a61f9, #05ffc9);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.cta {
    font-size: 1.5rem;
    display: flex;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    @media (max-width: $mantine-breakpoint-xs) {
        width: 80%;
        gap: 0;
    }
}

.cta a {
    display: inline-block;
    margin-top: 1rem;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    background: linear-gradient(90deg, #2a49f9, #05ffd5);
    color: #ffffff;
    font-weight: bold;
    text-decoration: none;
}

.cta a:hover,
.cta a:active {
    background: linear-gradient(90deg, #1538fd, #41f9d1);
}

.cta a:first-child {
    background: transparent;
    font-weight: normal;
    @mixin dark{
        color: #05ffc9;
    }
    color: #0086d1;
    padding-left: 0;
}

.cta a:first-child:hover,
.cta a:first-child:active {
    background: transparent;
    color: #41f9dd;
}

.section {
    display: flex;
    flex-direction: column;
    @mixin dark{
        color: #ddd6cb;
    }
    font-size: 1.5rem;
    max-width: 50rem;
    width: 90%;
    margin: 2rem auto;
    text-align: center;
}

.techTinker{
    @mixin dark{
        color: #41f9dd;
    }
    @mixin light {
        color: #2a49f9;
    }
}